<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>


  <div class="alert alert-primary" role="alert" style="text-align: center;font-size: 25px; font-family: 'Bell MT'">
  ToDo List
  </div>
<br><br>
  <form class="row g-3 justify-content-center" action="{% url 'add_task' %}" method="POST" >
      {% csrf_token %}
      <div class="col-auto">
        <input type="text" class="form-control" id="txt" name="t1" placeholder="Enter Your Task..." required>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Add Task</button>
      </div>
             {% for x in messages %}
                <p style="color: red; text-align: center; ;font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;text-align: center">
                    {{ x }}
                </p>
              {% endfor %}
  </form>

  <br><br>



  <table class="table table-striped">
        <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Name</th>
      <th colspan="2" style="padding-left: 270px">Action</th>
    </tr>
  </thead>
  <tbody>
     {% for x in data %}
    <tr>
      <th scope="row">{{ x.id }}</th>
      <td>{{ x.td }}</td>
        <td><button type="button" class="btn btn-info">Update</button></a></td>
      <td><a href="{% url 'del_list' %}?no={{ x.td }}"><button type="button" class="btn btn-info">Delete</button></a></td>
    </tr>
  {% endfor %}
  </tbody>
  </table>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>